<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Vite App</title>
  </head>
  <body>
    <header id="header">
      <ul>
        <li><a href="./quality_assurance.html">Quality Assurance</a></li>
        <li><a href="./security.html">Security</a></li>
        <li><a href="./bad_example.html">Bad Example</a></li>
      </ul>
    </header>
    <main>
      <div id="quality">
          <h1 class="subsection">Quality Assurance</h1>
      </div>
      <!--Description on the definition of QA-->
      <div>
        <p>Quality assurance is a set of activities to ensure that a website meets the specified requirements,
           the agreed-upon standards and procedures, and the best practices. It checks the website for any errors, weaknesses, 
           and potential points of failure before it goes live, or becomes available to real users.</p>
      </div>
      <h2>Git control and branching</h2>
      <p>This website is developed and deployed by following the practices of git control.This project is created as a repository in the github then it was cloned into the local 
        computer where we can edit the code install packages and so on. After that the code will be pushed to the github which has a copy of our work .If it is lost from our computer we can rettrieve it again
        which increases the efficiency.It also has options like a readme file that can be used to describe about the project.
      </p>
      <!--Adhoc testing used-->
      <h2>Adhoc Testing</h2>
      <ol>
        <li>Html Validator
        <p>I checked the live website on <a href="https://validator.w3.org/" >w3c markup validator</a> for validation errors.
          The Html of this website is valid and there are no warnings or errors to show</p></li>
        <li>Broken Links
        <p>Checked for broken links through the chrome extension
          <a href="https://chrome.google.com/webstore/detail/check-my-links/ojkcdipcgfaekbeaelaapakgnjflfglf">Check my Links</a>.
          There are no broken links</p></li>
        <li>Missing Content
        <p>There are no missing contents or incorrect contents</p></li>
        <li>CSS validator
        <p>I checked the live website on <a href="https://jigsaw.w3.org/css-validator/#validate_by_input+with_options" >w3c CSS validator</a> for validation errors.
          The CSS styling of this website is valid and there are no errors are found</p></li>
        <li>Linters
        <p>Linters are used to validate JS.I have used <a href="https://jshint.com/" >JSHint</a>
           to validate the javascript file and there are no errors to show.</p></li>
        <li>Dev Tools
          <ul>
            <li>Lighthouse auditing
              <p>Report</p>
            </li>
            <li>aXe auditing
              <p>Report</p>
            </li>
          </ul>
        </li>

      </ol>
      <h2>Coding Standards</h2>
      <p>This website has followed the coding standards. Proper commenting is done.
        The modern constructors are used for the javascript.Naming conventions are followed </p>
      <h2>ESLint</h2>
      <p>It will check for the styles whitespaces etc in the javascript file.
        We can do this by installing the dev dependency in the node-modules and specify the rules needed to test.
        I have added no whitespaces, add a new line at the end of the code  and so on
        It was tested in the console and all the errors were fixed.</p>
      <h2>Unit testing</h2>

    </main>
    <footer>
      <p>This is a test website</p>
    </footer>
    <script type="module" src="/main.js"></script>
  </body>
</html>
