<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <header id="header">
      <ul>
        <li><a href="./quality_assurance.html">Quality Assurance</a></li>
        <li><a href="./security.html">Security</a></li>
        <li><a href="./bad_example.html">Bad Example</a></li>
      </ul>
    </header>
    <main>
      <div id="quality">
          <h1 class="subsection">Quality Assurance</h1>
      </div>
    </main>
    <footer>
      <p>This is a test website</p>
    </footer>
    <script type="module" src="/main.js"></script>
  </body>
</html>
